*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
    background-color: #EFEEF3;
}

    header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // forma de mudarmos o estilo em uma determinada tela, da tela minima ate a tela de 800px
    @media (max-width:800px) {
        flex-direction: column;
    }
}

    ul{
    display: flex;
    list-style: none;
    width: 70vw;
    justify-content: space-around;
        @media (max-width: 800px) {
            flex-direction: column;
            text-align: center;
        }
}

main{
    .banner{
         width: 100vw; 
         @media (max-width:800px) {
            display: none; //retirando as imagens
         }
    }
  section{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .caixa1{
    width: 30vw;
  }
}